<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Details</title>
</head>
<body>
<h1>Company Details</h1>

<table th:object="${company}">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr>
        <td th:text="*{id}">Id</td>
        <td th:text="*{name}">Name</td>
    </tr>
</table>

<br/>
<br/>
<br/>

<p><a th:href="@{/companies/{id}/delete(id=${company.id})}">Delete</a></p>
<p><a th:href="@{/companies/{id}/update(id=${company.id})}">Update</a></p>
<br />

<p><a th:href="@{/companies}">Go to companies</a></p>
<p><a th:href="@{/companies/create}">Create a new company</a></p>

</body>
</html>
